html{
    font-size: 6.25%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16rem;
}
:root{
    /*Backgrounds*/
    --background-image: url(https://discover.therookies.co/content/images/2022/09/games---Silke-Van-Der-Smissen-2.jpg);
    --background-color: rgba(235, 233, 207, 0.1);
    /*Colors*/
    --white: #FFFFFF;
    --white-10: #ffffff1a;
    --white-50: #ffffffa0;
    --black: #000000;
    --black-30: #0000006d;
    --primary:#DFBC4A;
    --primary-30:#DFBC4A4A;
    --primary-dark:hsl(46, 70%, 48%);
    --secondary: #DFBC4A;
    /*Fonts*/
    --bebas: 'Bebas Neue', sans-serif;
    --castoro: 'Castoro', serif;
    --lato: 'Lato', sans-serif;
    --satisfy: 'Satisfy', cursive;
    /*Gradient*/
    --gray: rgba(214,207,182,1);

}
/*Scroll bar*/
::-webkit-scrollbar{
    width: 6rem;
}
::-webkit-scrollbar-track{
    background: var(--white-10);
}
::-webkit-scrollbar-thumb{
    background: var(--primary);
    transition: .2s;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--primary-dark);
    transition: .2s;
}
body{
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
}
/*hr*/
hr{
    margin: 10rem 0;
    border: none;
    border-bottom: solid 1rem var(--white);
}
/*Styles*/
.wellcome{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}
.message-container{
    background-color: var(--black-30);
    width: 500rem;
    max-width: 500rem;
    height: 500rem;
    max-height: 500rem;
    position: relative;
    animation: openMessage 1.5s ease-in-out 1;
}
@keyframes openMessage {
    0% {
      height: 0;
    }
    100% {
      height: 500rem;
    }
}
.message-borders{
    width: 100%;
    position: absolute;
    filter: drop-shadow(0 5rem 15rem var(--primary-30));
    z-index: 2;
}
.message-borders.border-top{
    top:  -20rem;
}
.message-borders.border-bottom{
    bottom: -20rem;
    transform: rotate(180deg);
}
.message{
    width: 100%;
    height: 100%;
    padding: 50rem 60rem;
    display: flex;
    flex-direction: column;
    gap: 12rem;
    backdrop-filter: blur(4rem);
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 1;
    animation: appearMessage 1.5s ease-in-out 1;
}
@keyframes appearMessage {
    0% {
        height: 0;
        display: none;
        opacity: 0;
    }
    60%{
        height: 500rem;
        display: flex;
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
.message .list{
    display: flex;
    flex-direction: column;
    gap: 12rem;
}
.message .list p{
    display: flex;
    gap: 20rem;
}
.message h1{
    color: var(--white);
    font-family: var(--bebas);
    font-size: 52rem;
}
.message p{
    color: var(--white);
    font-family: var(--lato);
    font-size: 16rem;
    font-weight: 300;
}
.message p.quote{
    width: 100%;
    padding: 20rem;
    font-size: 14rem;
    text-align: center;
    border: dashed 1rem var(--white);
}
.message p.sign{
    display: flex;
    flex-direction: column;
}
.message p.sign span:nth-child(1){
    font-family: var(--satisfy);
    font-size: 28rem;
}
.buttons{
    margin-top: 20rem;
    margin-bottom: 20rem;
    display: flex;
    justify-content: center;
    gap: 20rem;
    font-family: var(--lato);
}
button{
    background: none;
    width: 250rem;
    height: 40rem;
    border: solid 2rem transparent;
}
.primary-button, .secondary-button{
    color: var(--white);
    border: solid 2rem var(--white);
    border-radius: 8rem;
    cursor: pointer;
    transition: .2s;
}
.primary-button:hover, .secondary-button:hover{
    background-color: var(--primary);
    border: solid 2rem var(--primary);
    transition: .2s;
}
/*Comic*/
.comic-container{
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: sepia(90%);;
}
.comic{
    display: flex;
    gap: 50rem;
}
.comic-page{
    display: grid;
    grid-template-columns: repeat(6, 160rem);
    grid-template-rows: repeat(8, 160rem);
    gap: 10rem;
    position: relative;
}
.box{
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    border: solid 3rem black;
    overflow: hidden;
    filter: grayscale(1);
    transition: 1s;
}
.box-1-1{
    grid-column: span 1;
    grid-row: span 1;
}
.box-1-2{
    grid-column: span 1;
    grid-row: span 2;
}
.box-2-1{
    grid-column: span 2;
    grid-row: span 1;
}
.box-2-2{
    grid-column: span 2;
    grid-row: span 2;
}
.box-2-4{
    grid-column: span 2;
    grid-row: span 4;
}
.box-3-2{
    grid-column: span 3;
    grid-row: span 2;
}
.box-4-2{
    grid-column: span 4;
    grid-row: span 2;
}
.box:hover{
    filter: grayscale(0);
    transition: 1s;
}
#box-1{
    background-image: url('../assets/images/box-1.png');
}
#box-2{
    background-image: url('../assets/images/box-2.jpg');
}
#box-3{
    background-image: url('../assets/images/box-3.jpg');
}
#box-4{
    background-image: url('../assets/images/box-4.png');
}
#box-5{
    background-image: url('../assets/images/box-1.png');
}
#box-6{
    background-image: url('../assets/images/box-2.jpg');
}
#box-7{
    background-image: url('../assets/images/box-1.png');
}
#box-8{
    background-image: url('../assets/images/box-1.png');
}
#box-9{
    background-image: url('../assets/images/box-1.png');
}
#box-10{
    background-image: url('../assets/images/box-1.png');
}
#box-11{
    background-image: url('../assets/images/box-1.png');
}
#box-12{
    background-image: url('../assets/images/box-2.jpg');
}
#box-13{
    background-image: url('../assets/images/box-3.jpg');
}
#box-14{
    background-image: url('../assets/images/box-4.png');
}
#box-15{
    background-image: url('../assets/images/box-1.png');
}
#box-16{
    background-image: url('../assets/images/box-2.jpg');
}
.box audio{
    display: none;
}
.box .dialogues{
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.box .dialogues img{
    width: 100rem;
    position: absolute;
    transition: 1s;
}
.box:nth-child(1) .dialogues img:nth-child(1){
    left: -200rem;
    top: 0;
    transform: rotateZ(-20deg);
}
.box:nth-child(1) .dialogues img:nth-child(2){
    right: -200rem;
    top: 0;
    transform: rotateZ(20deg);
}
.box:nth-child(1):hover .dialogues img:nth-child(1){
    top: 20%;
    left: 10%;
    transform: rotateZ(-20deg);
}
.box:nth-child(1):hover .dialogues img:nth-child(2){
    top: 20%;
    right: 10%;
    transform: rotateZ(20deg);
}

@media (max-width: 2100px){
    .comic-page{
        grid-template-columns: repeat(6, 130rem);
        grid-template-rows: repeat(8, 130rem);
    }
}
@media (max-width: 1921px){
    .comic-page{
        grid-template-columns: repeat(6, 110rem);
        grid-template-rows: repeat(8, 110rem);
    }
}
@media (max-width: 1601px){
    .comic-page{
        grid-template-columns: repeat(6, 80rem);
        grid-template-rows: repeat(8, 80rem);
    }
}
@media (max-width: 1281px){
    .comic-page{
        grid-template-columns: repeat(6, 60rem);
        grid-template-rows: repeat(8, 60rem);
    }
}
@media (max-width: 900px){
    .comic-container{
        height: auto;
    }
    .comic{
        padding: 20rem 0;
        flex-direction: column;
        gap: 10px;
    }
    .comic-page{
        grid-template-columns: repeat(6, 110rem);
        grid-template-rows: repeat(8, 110rem);
    }
}
@media (max-width: 750px){
    .comic-page{
        grid-template-columns: repeat(6, 45rem);
        grid-template-rows: repeat(8, 45rem);
    }
}